table {
    border-collapse: collapse;
}

th {
    background-color: lightblue;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
}

.btn:hover {
    box-shadow: 2px 2px 2px #888888;
}

.btn-create {
}

#btn-viewOne {
    background-color: #4CAF50;
}

#btn-deleteOne {
    background-color: red;
}

#btn-updateOne {
    background-color: blue;
}

#btn-deleteOneFood {
    font-size: 1.5em;
}

#btn-viewOneFood {
background-color: #1971c2;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: auto;
}

.madspild-info {
    border: 2px solid #4CAF50;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.madspild-info p {
    margin-bottom: 15px;
}

.overskudsmad-container {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

.overskudsmad-container h2 {
    display: inline;
    color: #4CAF50;
    font-size: 14px;
    margin-bottom: 10px;
}

.overskudsmad-container h3 {
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
    color: #1971c2;
    vertical-align: middle;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-1 {
    background-color: #1971c2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.centered-content {
    text-align: center;
    margin-top: 100px;
}

.centered-content h1 {
    font-size: 32px;
    color: black;
    margin-bottom: 15px;
}

.btn-create {
    padding: 10px 20px;
    font-size: 16px;
}



table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}/* Tabelens overskrifter */

th {
    background-color: #f7f7f7;
    color: #333;    font-weight: bold;    padding: 12px 15px;    text-align: left;    border-bottom: 2px solid #ddd;}/* Tabelens celler */td {    padding: 5px 10px;    border-bottom: 1px solid #eee;    color: #555;}/* Skiftevis række farve for læsbarhed */tr:nth-child(even) {    background-color: #f9f9f9;}/* Hover-effekt på rækker */tr:hover {    background-color: #f1f1f1;}/* Responsiv tabel */.table-container {    overflow-x: auto;    margin-top: 20px;}body {    font-family: 'Georgia', serif;}