/*Gør at tabellens rækker har skiftevise farver*/
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*Definerer hvordan btn layout skal se ud*/
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*Definerer hvordan btn ser ud når den markeres*/
.btn:hover {
    box-shadow: 2px 2px 2px #888888;
}

/*Logo placeres oppe til højre, absolut størrelse og placering fra hjørne*/
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: auto;
}

/*Tekstboks på forside med tekst formateres her*/
.madspild-info {
    border: 2px solid #4CAF50;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/*Linjeafstand mellem tekst i tekstboks*/
.madspild-info p {
    margin-bottom: 15px;
}

/*Container som indeholder link til hhv. virksomhed og organisation placeres som defineret her*/
.overskudsmad-container {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

/*Tekst før knap til hhv. virksomhed og organisatin formateres her */
.overskudsmad-container h3 {
    display: inline-block;
    margin: 0 10px;
    font-size: 12px;
    color: #1971c2;
    vertical-align: middle;
}

/*Knapper fra forsiden til virksomhed og til organisation formateres her*/
.btn-1 {
    background-color: #1971c2;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

/*Definerer hvordan btn-1 ser ud når den markeres*/
.btn-1:hover {
    box-shadow: 2px 2px 2px #888888;
}

/*Forside-overskrift og hovedknap placering*/
.centered-content {
    text-align: center;
    margin-top: 100px;
}

/*Forside-overskrift størrelse, farve, placering*/
.centered-content h1 {
    font-size: 32px;
    color: black;
    margin-bottom: 15px;
}

/*Tabel som viser madoversigt*/
table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tabel-header formatering*/
th {
    border: 1px solid black;
    background-color: #f7f7f7;
    color: #333;
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Tabel-celle formatering */
td {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    color: #555;
}

/* Hover-effekt på rækker */
tr:hover {
    background-color: #f1f1f1;
}

/* Responsiv tabel så der kan scrolles i den hvis der ikke er plads */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

/* Skrifttype i al body */
body {
    font-family: 'Georgia', serif;
}

/* H1 tekst skal centreres*/
h1 {
    text-align: center;
}