<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>
<img src="/images/logo.png" alt="Too Good To Throw Logo" class="logo">
<a href="/">
    <button class="btn-1 btn" id="btn-index">Til forsiden</button>
</a>
<h1>Overskudsmad</h1>
<table>
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Madvare</th>
        <th style="text-align: right;">Pris</th>
        <th style="text-align: right;"> Antal tilbage</th>
        <th style="text-align: right;">Udløbsdato</th>
        <th>Adresse</th>
        <th>Virksomhed</th>
        <th>Køb</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="madvare: ${madvarer}">
        <td th:text="${madvare.id}"></td>
        <td th:text="${madvare.madnavn}"></td>
        <td style="text-align: right;" th:text="${#numbers.formatDecimal(madvare.pris, 1, 2)}"></td>
        <td style="text-align: right;" th:text="${madvare.antal}"></td>
        <td style="text-align: right;" th:text="${madvare.udlobsdato}"></td>
        <td th:text="${madvare.adresse}"></td>
        <td th:text="${madvare.virksomhed}"></td>
        <td>
            <a th:href="@{'/viewOneFood/' + ${madvare.id}}">
                <button class="btn-viewOneFood btn" id="btn-viewOneFood">Køb</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
