<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selected food</title>
    <link rel="stylesheet" type="text/css" href="/MyCss.css">
</head>
<body>
<img src="/images/logo.png" alt="Too Good To Throw Logo" class="logo">
    <a href="/">
        <button class="btn-index btn" id="btn-index">Til forsiden</button>
    </a>
    <h1 th:text="'Køb ' + ${madvare.madnavn}">Køb denne madvare</h1>
    <table>
        <thead>
        <tr>
            <th>Pris</th>
            <th>Udløbsdato</th>
            <th>Adresse</th>
            <th>Virksomhed</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${madvare.pris} + ' kr'"></td>
            <td th:text="${madvare.udlobsdato}"></td>
            <td th:text="${madvare.adresse}"></td>
            <td th:text="${madvare.virksomhed}"></td>
        </tr>
    </table>
    <br>

    <input type="text" name="kundeNavn" id="" placeholder="Indtast navn">

    <a th:href="@{'/deleteOneFood/' + ${madvare.id}}">
        <button class="btn-deleteOneFood btn" id="btn-deleteOneFood">Bekræft køb af madvare</button>
    </a>
</body>
</html>